html, body{
  height: 100%;
  overflow: hidden;
}

a {
  cursor: pointer;
}
ul {
  padding-left: 20px;
}

li {
  list-style: none;
}

#main-content {
  min-width: 1000px;
  padding-top: 10px;
}

#left-panel, #right-panel {
  float: left;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

.phone-screen {
	min-height: 8em;
	width: 100%;
	text-align: center;
}
pre.console {
	height: 10em;
	overflow: auto;
}

.point {
  position: absolute;
  width: 10px;
  height: 10px;
  margin-left: -5px;
  margin-top: -5px;
  border-radius: 10px;
  border: 1px solid red;
  pointer-events: none;
}

.image-rect, .ui-rect, .image-crop {
  position: absolute;
  border: 2px solid red;
  pointer-events: none;
}

#screen-crop-rect {
  border: 2px solid yellow;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

#imagesDiv > ul > li {
  float: left;
  padding: 10px;
  list-style: none;
  text-align: center;
  height: 140px;
}

#imagesDiv img {
  max-width: 100px;
  max-height: 100px;
}

.full {
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

#device-chooser {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  text-align: center;
  padding-top: 30%;
}

#device-chooser div {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

.box {
  border: solid 1px red;
}

#resize-handle {
  position: absolute;
  width: 10px;
  height: 100px;
}

#resize-handle:hover {
  cursor: col-resize;
}

.tree-node {
}
.tree-node-folder {
}
