html, body{
  height: 100%;
  width: 100%;
  overflow: scroll;
}

#main-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /*align-items: center;*/
  /*align-content: center;*/

  padding-top: 15px;
  width: 100%;
  height: 100%;
}

#left-panel {
  align-content: center;
  display: flex;
  flex-direction: column;
  padding-left: 30px;
  width:20%;
}

#middle-panel {
  display: flex;
  flex-direction: column;
  flex-grow:1;
  padding-left: 30px;
  padding-right: 30px;
}

#right-panel {
  display: flex;
  flex-direction: column;
  padding-right: 30px;
  width: 450px;
}

#left-top {
  display: flex;
  flex-direction: row;
}

#left-bottom {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 200px;
  overflow: auto;
}

#left-bottom img {
  max-width: 100px;
  max-height: 100px;
}

#left-bottom > ul > li {
  float: left;
  padding: 5px;
  list-style: none;
  text-align: center;
}

#middle-top {
  width: 100%;
  display: flex;
  flex-direction: column;
}

#middle-top li{
  padding: 10px;
  list-style: none;
  text-align: center;
}

#middle-bottom {
  display: flex;
  flex-direction: column;
}

#right-upper {
  width: 100%;
  display: flex;
  flex-direction: column;
}

pre.console {
  height: 10em;
  width: 100%;
  overflow: auto;
}

a {
  cursor: pointer;
}
ul {
  padding-left: 20px;
}

.point {
  position: absolute;
  width: 10px;
  height: 10px;
  margin-left: -5px;
  margin-top: -5px;
  border-radius: 10px;
  border: 1px solid red;
  pointer-events: none;
}

#right-bottom {
  padding-top: 10px;
  height: 100%;
  width: 100%;
}

#device-chooser {
  /*position: absolute;*/
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  text-align: center;
  padding-top: 30%;
}

#device-chooser div {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

.image-rect, .ui-rect, .image-crop {
  position: absolute;
  border: 2px solid red;
  pointer-events: none;
}

#screen-crop-rect {
  border: 2px solid yellow;
}

.phone-screen {
	min-height: 8em;
	width: 100%;
	text-align: center;
}

.full {
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.CodeHighLightMarker {
  position:absolute;
  background:rgba(100,200,100,0.5);
  z-index:20
}

.tree-node {
}
.tree-node-folder {
}
