aircv==1.4.4
appdirs==1.4.3
backports-abc==0.5
backports.ssl-match-hostname==3.5.0.1
certifi==2016.9.26
facebook-wda==0.0.4.dev1
futures==3.0.5
imageio==1.5
jedi==0.10.0
maproxy==0.0.12
numpy==1.12.0
olefile==0.44
opencv-python==3.2.0.6
packaging==16.8
Pillow==4.0.0
pyparsing==2.2.0
PyYAML==3.11
requests==2.12.5
singledispatch==3.4.0.3
six==1.10.0
subprocess32==3.2.7
tornado==4.3
tqdm==4.5.0
